{% load staticfiles %}

<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">

    <title>Stackd - Pandora</title>
    <meta name="description" content="">
    <meta name="author" content="Peter Lee, Max Yeo, Rob Osorio, Brian Arroyo">

    <link rel="shortcut icon" href="">
    <link rel="apple-touch-icon" href="">

    <meta name="theme-color" content="#fff">

    <meta property="og:title" content=""/>
    <meta property="og:url" content="/"/>
    <meta property="og:image" content=""/>
    <meta property="og:site_name" content=""/>
    <meta property="og:description" content=""/>

    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
</head>
<body>

    <header>
        <div class="grid">
            <a href="/" id="logo">
                <i class="fa fa-stack-overflow"></i>      
                <h1>Stackd<span>Pandora</span></h1>   
            </a>
            <nav>
                <a href="/post">Post a Question</a>
                <a href="#0">Profile</a>
            </nav>
        </div>
    </header>

    <div id="page">
        {% block content %}{% endblock %}
    </div>

</body>
</html>
