{% extends 'overflow/base.html' %}

{% block content %}
<p><h2>{{question}}</h2></p>
Posted by {{question.author}} on {{question.pub_date}}<br><br><br><br>

Leave a Comment:
<form method="post", action"">
 {% csrf_token %}
 Your Email: <input type="text" name="email_field" id="email_field"><br>
 Comment: <input type="text" name="comment" id="comment"><br>
<input type="submit" value="Submit Comment">
</form><br><br>

Responses:<br> <br>

{% if comment_list %}
	
	{% for comment in comment_list %}
		<li>{{comment.comment_text}}</li><br><br>
		Published: {{comment.pub_date}} by {{comment.author}}<br>
		Score: {{comment.netvotes}} ({{comment.upvotes}} Upvotes, {{comment.downvotes}} Downvotes)<br>
		<!-- <form method="post">
		{% csrf_token %}
		<input type="radio" name="vote" value="upvote"> Upvote <br>
		<input type="radio" name="vote" value="downvote"> Downvote <br>
		</form>--> 
		<br><br>
	{% endfor %}
{% endif %}
{% endblock %}
