{% extends 'overflow/base.html' %}

{% block content %}
<div id="detail" class="grid cf">
	<div id="detail-header" class="col-1-1">
		<h2>{{question}}</h2>
	</div>
	<div id="detail-body" class="col-3-4">
		<div id="detail-question">
			{{question.question_detail}}
		</div>
		<div id="detail-labels">
			<h3>posted by {{question.author}} on {{question.pub_date}}</h3>
		</div>
		<div id="comments">
			{% if comment_list %}
				{% for comment in comment_list %}
					<div class="comment cf">
						<div class="comment-score">
							<h4>{{comment.netvotes}}</h4>
						</div>
						<p>{{comment.comment_text}}</p>
						<div class="comment-label">
							<h3>posted by {{comment.author}} on {{comment.pub_date}}</h3>
						</div>
						 ({{comment.upvotes}} Upvotes, {{comment.downvotes}} Downvotes)<br><br>
					</div>
				{% endfor %}
			{% else %}
				<div class="comment">
					<p>no comments</p>
				</div>
			{% endif %}
			Add a Comment
			<form method="post", action"">
				{% csrf_token %}
				Your Email: <input type="email" name="email_field" id="email_field"><br>
				Comment: <input type="text" name="comment" id="comment"><br>
				<input type="submit" value="Submit Comment">
			</form>
		</div>
	</div>
</div>
{% endblock %}
